<h5>Custom fields</h5>
<% if custom_fields.any? %>

  <%= paginate custom_fields %>
  <table class='table  table-condensed'>
    <thead><tr>
      <th>Row</th>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr></thead>
    <tbody>
      <% custom_fields.each_with_index do |o, i| %><tr>
        <td><%= i + row_offset %></td>
        <%= render partial: 'common/link_to_field_edit', locals: {custom_field: o} %>
      </tr><% end %>
    </tbody>
  </table>

<% else %>
  <h5>None</h5>
<% end %>
