<h4>Person</h4>
<%= link_to 'Edit', edit_person_path(@person) %>

<dl class=dl-horizontal>
  <dt>First name</dt>
  <dd><%= @person.name_first %></dd>
</dl>
<dl class=dl-horizontal>
  <dt>Last name</dt>
  <dd><%= @person.name_last %></dd>
</dl>
<dl class=dl-horizontal>
  <dt>Email</dt>
  <dd><%= @person.email %></dd>
</dl>
