<ul class='nav  nav-pills'>
  <li class='active'><a>Editing a choice</a></li>
  <% if @choice.destroyable? %>
    <li><%= link_to 'Destroy', @choice, method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <% end %>
</ul>

<%= render 'form' %>
