<%= render partial: 'common/link_to_parent_name', locals: {o: @parent} %>

<% if @custom_fields.any? %>
  <%= render partial: 'common/field_set_name', locals: {o: @field_set} %>

  <%= paginate @custom_fields %>
  <dl class=dl-horizontal>
    <% @custom_fields.each do |o| %>
      <%= render partial: 'value_edit', locals: {
        custom_field: o,
        parent_id: @parent.id,
        value_str: @field_values[o.id]} %>
    <% end %>
  </dl>

<% else %>
  <h5>No custom fields</h5>
<% end %>
