<ul class='nav  nav-pills'>
  <% if PersonFieldSet.new_able? %>
    <li><%= link_to 'New set for locations', new_field_set_path(kind: 'Location') %></li>
  <% end %>
  <% if PersonFieldSet.new_able? %>
    <li><%= link_to 'New set for people', new_field_set_path(kind: 'Person') %></li>
  <% end %>
  <li class='active'><a>Index</a></li>
</ul>

<% if @field_sets.any? %>
  <% @field_sets.each do |o| %><dl>
    <dt><%= link_to o.name_with_type, field_set_path(o) %></dt>
    <dd><%= o.description %></dd>
  </dl><% end %>

<% else %>
  <h5>None</h5>
<% end %>
