<h5>Checkbox boolean instructions</h5>
<ul>
  <li>The first value corresponds to 'checked'</li>
  <li>The checkbox defaults to 'unchecked', or the second value</li>
  <li>Only the first two values are considered</li>
</ul>
