<h4>Choice field</h4>

<%= link_to 'Edit', edit_setup_choice_field_path(@choice_field) %>

<%= render partial: 'common/field_set_name', locals: {o: @field_set} %>

<dl class=dl-horizontal>
  <dt><%= @choice_field.type_human %></dt>
  <dd><%= @choice_field.name %></dd>
</dl>
