<ul class='nav  nav-pills'>
  <li class='active'><a>Search results</a></li>
  <li><%= link_to 'New search for people', new_person_search_path %></li>
</ul>

<% if @people.any? %>
  <h5>By relevance</h5>
  <ul class=unstyled><%= render partial: 'person', collection: @people %></ul>

<% else %>
  <h5>No results found</h5>
<% end %>
