<ul class='nav  nav-pills'>
  <li class='active'><a>Search results</a></li>
  <li><%= link_to 'New search for locations', new_location_search_path %></li>
</ul>

<% if @locations.any? %>
  <h5>By relevance</h5>
  <ul class=unstyled><%= render partial: 'location', collection: @locations %></ul>

<% else %>
  <h5>No results found</h5>
<% end %>
