<ul class='nav  nav-pills'>
  <li class='active'><a>Editing an education level</a></li>
  <li><%= link_to 'Destroy', @education_level, method: :delete, data: {confirm: 'Are you sure?'} %></li>
  <li><%= link_to 'Index', education_levels_path %></li>
</ul>

<%= render 'form' %>
