<ul class='nav  nav-pills'>
  <li><%= link_to 'New education level', new_education_level_path %></li>
  <li class='active'><a>Education levels</a></li>
</ul>

<% if @education_levels.any? %>
  <% @education_levels.each do |o| %><dl>
    <dt><%= link_to o.name, edit_education_level_path(o) %></dt>
    <dd><%= o.description %></dd>
  </dl><% end %>

<% else %>
  <h5>None</h5>
<% end %>
