<% field_sets.each do |field_set| %>
  <%= render partial: 'common/link_to_field_set', locals: {o: field_set} %>
  <% field_set.custom_fields.by_row.each do |o| %>
    <div class=control-group>
      <%= label_tag o.name, nil, class: 'control-label' %>
      <div class=controls><%= render partial: 'common/search_input', locals: {o: o} %></div>
    </div>
  <% end %>
<% end %>
