<ul class='nav  nav-pills'>
  <li><%= link_to 'New location', new_location_path %></li>
  <li class='active'><a>Index</a></li>
  <li><%= link_to 'New search', new_location_search_path %></li>
</ul>

<% if @locations.any? %>
  <%= paginate @locations %>
  <table class='table  table-condensed'>
    <thead><tr>
      <th>Name</th>
    </tr></thead>
    <tbody><%= render @locations %></tbody>
  </table>

<% else %>
  <h5>None</h5>
<% end %>
