<h4>Location</h4>
<%= link_to 'Edit', edit_location_path(@location) %>

<dl class=dl-horizontal>
  <dt>First name</dt>
  <dd><%= @location.name %></dd>
</dl>
<dl class=dl-horizontal>
  <dt>Description</dt>
  <dd><%= @location.description %></dd>
</dl>
