<h4>Location</h4>
<%= link_to 'Edit', edit_location_path(@location) %>

<dl class=dl-horizontal>
  <dt>First name</dt>
  <dd><%= @location.name %></dd>
</dl>
<dl class=dl-horizontal>
  <dt>Description</dt>
  <dd><%= @location.description %></dd>
</dl>

<% if @field_sets.any? %>
  <h5>Custom field sets</h5>
  <% @field_sets.each do |o| %>
    <%= render 'field_set', o: o %>
  <% end %>
<% end %>
